{% extends 'template.html' %}

{% block title %}
Admin - Prediksi
{% endblock %}

{% block subtitle %}
Buat Data Prediksi
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Form
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="id">NIM</label>
                                <input type="text" class="form-control" name="id" id="id" placeholder="NIM">
                            </div>
                            <div class="form-group">
                                <label for="tipesekolah">Tipe Sekolah</label>
                                <select name="school_type" id="tipesekolah" class="form-control">
                                    <option value="SMA" selected>SMA</option>
                                    <option value="SMK">SMK</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="jeniskelamin">Jenis Kelamin</label>
                                <select name="gender" id="jeniskelamin" class="form-control">
                                    <option value="L" selected>L</option>
                                    <option value="P">P</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="kotasekolah">Kota Sekolah</label>
                                <select name="school_city" id="kotasekolah" class="form-control">
                                    <option value="Dalam Kota" selected>Dalam Kota</option>
                                    <option value="Luar Kota">Luar Kota</option>
                                </select>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label for="gajiorangtua">Gaji Orang Tua</label>-->
                                <!--<select name="parent_salary" id="gajiorangtua" class="form-control">-->
                                    <!--<option value="Sangat Rendah" selected>Sangat Rendah</option>-->
                                    <!--<option value="Rendah">Rendah</option>-->
                                    <!--<option value="Cukup Rendah">Cukup Rendah</option>-->
                                    <!--<option value="Cukup Tinggi">Cukup Tinggi</option>-->
                                    <!--<option value="Tinggi">Tinggi</option>-->
                                    <!--<option value="Sangat Tinggi">Sangat Tinggi</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="ips1">IP Semester 1</label>
                                    <input type="text" class="form-control" name="semester_1" id="ips1"
                                           placeholder="x.xx" maxlength="4">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="ips2">IP Semester 2</label>
                                    <input type="text" class="form-control" name="semester_2" id="ips2"
                                           placeholder="x.xx" maxlength="4">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="ips3">IP Semester 3</label>
                                    <input type="text" class="form-control" name="semester_3" id="ips3"
                                           placeholder="x.xx" maxlength="4">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="ips4">IP Semester 4</label>
                                    <input type="text" class="form-control" name="semester_4" id="ips4"
                                           placeholder="x.xx" maxlength="4">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
{% endblock %}