{% extends 'template.html' %}

{% block title %}
Guide Book
{% endblock %}

{% block subtitle %}
User Manual
{% endblock %}

{% block content %}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Content
            </div>
            <div class="panel-body">
                <p class="h3">Daftar Isi</p>
                <hr>
                <ul>
                    <li><a href="#alumni">Alumni</a></li>
                    <li><a href="#training">Training</a></li>
                    <li><a href="#prediction">Prediksi</a></li>
                </ul>
                <br>
                <p class="h3" id="user">Alumni</p>
                <hr>
                <p>Alumni dapat di tambahkan dengan cara satuan dan dapat pula menggunakan file csv.</p>
                <p>Untuk penambahan manual, anda dapat mengakses menu Create -> Alumni.</p>
                <p>Untuk penambahan secara CSV, anda dapat mengaksesnya pada dashboard -> Data Alumni di bagian bawah
                    data alumni.</p>
                <p>Untuk format menggunakan CSV, dapat dilihat seperti contoh dibawah</p>
                <p><strong>NOTE: Nama kolom dan value nya merupakan CASE SENSITIVE!</strong></p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>NIM</th>
                        <th>Tipe Sekolah</th>
                        <th>Gender</th>
                        <th>Kota Sekolah</th>
                        <th>Keterangan Lulus</th>
                        <th>IPS_1</th>
                        <th>IPS_2</th>
                        <th>IPS_3</th>
                        <th>IPS_4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12.11.1111</td>
                        <td>SMK</td>
                        <td>L</td>
                        <td>Luar Kota</td>
                        <td>Tidak Tepat Waktu</td>
                        <td>2.5</td>
                        <td>3.75</td>
                        <td>1.75</td>
                        <td>2.42</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <p>Untuk Tipe Sekolah terdapat tiga opsi, yaitu:</p>
                <ul>
                    <li>SMA</li>
                    <li>SMK</li>
                    <li>Lain -> Selain SMA dan SMK</li>
                </ul>
                <p>Untuk Gender terdapat dua opsi, yaitu:</p>
                <ul>
                    <li>L</li>
                    <li>P</li>
                </ul>
                <p>Untuk Kota Sekolah terdapat dua opsi, yaitu:</p>
                <ul>
                    <li>Luar Kota -> sekolah siswa bukan berasal dari Kota Yogyakarta</li>
                    <li>Dalam Kota -> sekolah siswa berasal dari Kota Yogyakarta</li>
                </ul>
                <p><strong>Note: Bukan DIY, namun hanya kota yogyakarta</strong></p>
                <!--<p>Untuk Gaji Orang Tua, terdapat 6 opsi, yaitu:</p>-->
                <!--<ul>-->
                    <!--<li>Sangat Rendah -> Dibawah 500,000 per bulan</li>-->
                    <!--<li>Rendah -> 500,000 - 999,999</li>-->
                    <!--<li>Cukup Rendah -> 1,000,000 - 1,999,999</li>-->
                    <!--<li>Cukup Tinggi -> 2,000,000 - 4,999,999</li>-->
                    <!--<li>Tinggi -> 5,000,000 - 20,000,000</li>-->
                    <!--<li>Sangat Tinggi -> Diatas 20,000,000</li>-->
                <!--</ul>-->
                <p>Untuk Keterangan Lulus terdapat dua opsi, yaitu:</p>
                <ul>
                    <li>Tepat Waktu</li>
                    <li>Tidak Tepat Waktu</li>
                </ul>
                <p>Untuk IP, silahkan masukkan bilangan bulat positif ataupun pecahan.</p>
                <br>
                <hr>
                <p id="training" class="h3">Training</p>
                <p>Data training berasal dari semua data alumni yang digunakan untuk membuat model klasifikasi. Ketika
                    model sudah dibuat, dan anda menambahkan data alumni, maka data alumni anda yang baru tidak akan
                    dimasukkan ke dalam model.</p>
                <p><strong>NaN Error: </strong> Ketika model anda mengalami masalah NaN, solusinya sangat mudah,
                    pastikan data dari excel anda memiliki kelas yang berbeda di setiap 10% dari total data anda.</p>
                <p id="prediction" class="h3">Prediksi</p>
                <p>Anda dapat memprediksi data baru menggunakan model yang sudah dibuat sebelumnya. Untuk melakukan
                    prediksi data satu per satu, anda dapat mengaksesnya pada menu Prediksi -> Single Data.</p>
                <p>Anda juga dapat memprediksi data menggunakan file csv apabila data yang akan diprediksi berjumlah
                    banyak.</p>
                <p>Untuk format menggunakan CSV, dapat dilihat seperti contoh dibawah</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>NIM</th>
                        <th>Tipe Sekolah</th>
                        <th>Gender</th>
                        <th>Kota Sekolah</th>
                        <th>IPS_1</th>
                        <th>IPS_2</th>
                        <th>IPS_3</th>
                        <th>IPS_4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12.11.1111</td>
                        <td>SMK</td>
                        <td>L</td>
                        <td>Luar Kota</td>
                        <td>2.5</td>
                        <td>3.75</td>
                        <td>1.75</td>
                        <td>2.42</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <p><strong>Note: Untuk opsi di setiap kolomnya SAMA DENGAN milik alumni.</strong></p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}