{% extends 'template.html' %}

{% block title %}
<title>Alumni</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="p-3">
        <h1 class="h1">Data Alumni</h1>
    </div>
    <table class="table table-stripped table-bordered dt-responsive nowrap" id="myTable" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Tipe Sekolah</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Kota Sekolah</th>
            <th scope="col">Gaji Orangtua</th>
            <th scope="col">IPS 1</th>
            <th scope="col">IPS 2</th>
            <th scope="col">IPS 3</th>
            <th scope="col">IPS 4</th>
            <th scope="col">IPK</th>
            <th scope="col">Keterangan Lulus</th>
        </tr>
        </thead>
        <tbody>
        {% for data in alumni %}
        <tr>
            <th scope="row">{{ data.id_mahasiswa }}</th>
            <td>{{ data.name }}</td>
            <td>{{ data.school_type }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.school_city }}</td>
            <td>{{ data.parent_salary }}</td>
            <td>{{ data.semester_1 }}</td>
            <td>{{ data.semester_2 }}</td>
            <td>{{ data.semester_3 }}</td>
            <td>{{ data.semester_4 }}</td>
            <td>{{ data.ipk }}</td>
            <td>{{ data.keterangan_lulus }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
