{% extends 'template.html' %}

{% block title %}
Model Testing
{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-4">
        <form method="post">
            <button class="btn btn-outline-primary" type="submit">Create Model</button>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <h2>Cross Validation</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Fold</th>
                        <th scope="col">Accuracy</th>
                        <th scope="col">Precision</th>
                        <th scope="col">Recall</th>
                        <th scope="col">f1-score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for score in scores %}
                    <tr>
                        <th scope="row">{{ score.numb }}</th>
                        <td>{{ score.score }}</td>
                        <td>{{ score.precision }}</td>
                        <td>{{ score.recall }}</td>
                        <td>{{ score.f1 }}</td>
                    </tr>
                    {% endfor %}
                    {% for avg in avg %}
                    <tr>
                        <th scope="row">Average</th>
                        <td>{{ avg.avg_score }}</td>
                        <td>{{ avg.avg_prec }}</td>
                        <td>{{ avg.avg_recall }}</td>
                        <td>{{ avg.avg_f1 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <h2>Confusion Matrix</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Pre_Tidak</th>
                        <th scope="col">Pre_Tepat</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Act_Tidak</th>
                        <td>{{ cf[0][0] }}</td>
                        <td>{{ cf[0][1] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Act_Tepat</th>
                        <td>{{ cf[1][0] }}</td>
                        <td>{{ cf[1][1] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="">
            <img src="/static/ROC.png" alt="">
        </div>
    </div>
</div>
{% endblock %}