{% extends 'template.html' %}

{% block title %}
Model Testing
{% endblock %}

{% block subtitle %}
Model Score
{% endblock %}

{% block content %}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Cross Validation
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Fold</th>
                        <th>Accuracy Score</th>
                        <th>Precision</th>
                        <th>Recall</th>
                        <th>F1-Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for score in scores %}
                    <tr class="odd gradeX">
                        <td>{{ score.numb }}</td>
                        <td>{{ score.score }}</td>
                        <td>{{ score.precision }}</td>
                        <td>{{ score.recall }}</td>
                        <td>{{ score.f1 }}</td>
                    </tr>
                    {% endfor %}
                    {% for avg in avg %}
                    <tr class="even gradeC">
                        <td>Mean</td>
                        <td>{{ avg.avg_score }}</td>
                        <td>{{ avg.avg_prec }}</td>
                        <td>{{ avg.avg_recall }}</td>
                        <td>{{ avg.avg_f1 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Confusion Matrix
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>P_Negative</th>
                            <th>P_Positive</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>A_Negative</td>
                            <td>{{ cf[0][0] }}</td>
                            <td>{{ cf[0][1] }}</td>
                        </tr>
                        <tr>
                            <td>A_Positive</td>
                            <td>{{ cf[1][0] }}</td>
                            <td>{{ cf[1][1] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">

    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                ROC Curve
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <img src="/static/ROC.png" alt="ROC" class="img-responsive">
                </div>
                <!-- /.table-responsive -->
                {% if dt == 'alumni' %}
                <div class="well">
                    <h4>Caution</h4>
                    <p>Pastikan akurasi dari model cukup bagus untuk digunakan.</p>
                    <form method="post">
                        <button class="btn btn-default btn-lg btn-block" type="submit">Buat Model</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">

    </div>
    <!-- /.col-lg-6 -->
</div>
{% endblock %}