{% extends 'template.html' %}

{% block title %}
Model Building
{% endblock %}

{% block subtitle %}
Model Building
{% endblock %}

{% block content %}
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Build your model using existing alumni data
            </div>
            <div class="panel-body">
                <a class="btn btn-primary" href="{{ url_for('dashboard.cross_validation') }}">Build</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}