.idea/
__pycache__/
migrations
node_modules
bower_components
Data Penelitian - Sheet2.csv
Data Penelitian - Sheet3.csv
alumni/*
prediksi/*
training/*
current_model_cf.csv
current_model_cv.csv