.idea/
__pycache__/
migrations
node_modules
bower_components
current_model_cf.csv
current_model_cv.csv
kfold_model.png
kfold_result.png
piechart.png
mhs_test_datasets_multinomial.csv
mhs_test_datasets.csv
golf_dataset.csv
